<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpacePort 0.4 - Create product</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('products_list') }}">Products</a></li>
        <li><a href="{{ url_for('products_create') }}">Create product</a></li>
    </ul>
</nav>

<main>
    <h1>
        SpacePort 0.4 -
        {% if create %}
            Create product
        {% else %}
            Edit product
        {% endif %}
    </h1>
    <form method="post">
        <table>
            <tr>
                <th><label for="name">Name:</label></th>
                <td><input type="text" name="name" value="{{ product.name }}" id="name"></td>
            </tr>
            <tr>
                <th><label for="unit_price">Unit price:</label></th>
                <td><input type="number" name="unit_price" value="{{ product.unit_price }}" id="unit_price"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">
                        {% if create %}
                            Create
                        {% else %}
                            Save
                        {% endif %}
                    </button>
                </td>
            </tr>
        </table>
    </form>
</main>

</body>
</html>