{% extends 'base.html' %}

{% block main %}
    <h1>
        {% if create %}
            Create product
        {% else %}
            Edit product
        {% endif %}
    </h1>
    <form method="post">
        <table>
            <tr>
                <th><label for="category" class="form-label">Category:</label></th>
                <td>
                    <select name="category" id="category" class="form-control">
                        <option value="0" disabled>-- select category --</option>
                        {% for category in categories %}
                            {% if category.category_id == product.category_id %}
                                <option value="{{ category.category_id }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.category_id }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="name" class="form-label">Name:</label></th>
                <td><input type="text" name="name" value="{{ product.name }}" id="name" class="form-control"></td>
            </tr>
            <tr>
                <th><label for="unit_price" class="form-label">Unit price:</label></th>
                <td>
                    <input type="number"
                           name="unit_price"
                           value="{{ product.unit_price }}"
                           id="unit_price"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <th><label for="discount" class="form-label">Discount:</label></th>
                <td>
                    <input type="number"
                           name="discount"
                           value="{{ product.discount }}"
                           min="0"
                           max="100"
                           id="discount"
                           class="form-control">
                </td>
            </tr>
            {% if not create %}
                <tr>
                <th><label for="discounted_price" class="form-label">Discounted price:</label></th>
                <td>
                    <input type="number"
                           value="{{ product.discounted_price }}"
                           id="discounted_price"
                           class="form-control"
                           disabled>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">
                        {% if create %}
                            Create
                        {% else %}
                            Save
                        {% endif %}
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}