{% extends 'base.html' %}

{% block js %}
    <script>
        function deleteProduct() {
            if (confirm('Delete product?')) {
                this.closest('form').submit();
            }

            return false;
        }
    </script>
{% endblock %}

{% block main %}
    <h1>Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Discounted price</th>
            {% if g.user %}
                <th colspan="2"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.unit_price }}</td>
                <td>{{ product.discount }}</td>
                <td>{{ product.discounted_price }}</td>
                {% if g.user %}
                    <td><a href="{{ url_for('products.products_edit', product_id=product.product_id) }}">Edit</a></td>
                    <td>
                        <form action="{{ url_for('products.products_delete', product_id=product.product_id) }}"
                              method="post"
                              onsubmit="confirm('Delete product?')">
                            <a href="#" onclick="deleteProduct.call(this)">Delete</a>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}