<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpacePort 0.5 - Products</title>

    <script>
        function deleteProduct() {
            if (confirm('Delete product?')) {
                this.closest('form').submit();
            }

            return false;
        }
    </script>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('products_list') }}">Products</a></li>
        <li><a href="{{ url_for('products_create') }}">Create product</a></li>
    </ul>
</nav>

<main>
    <h1>SpacePort 0.4 - Products</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit price</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.unit_price }}</td>
                <td><a href="{{ url_for('products_edit', product_id=product.id) }}">Edit</a></td>
                <td>
                    <form action="{{ url_for('products_delete', product_id=product.id) }}"
                          method="post"
                          onsubmit="confirm('Delete product?')">
                        <a href="#" onclick="deleteProduct.call(this)">Delete</a>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</main>

</body>
</html>