{% extends 'base.html' %}

{% block main %}
    <h1>
        {% if create %}
            Create user
        {% else %}
            Edit user
        {% endif %}
    </h1>
    <form method="post">
        <table>
            <tr>
                <th><label for="username" class="form-label">Username:</label></th>
                <td>
                    <input type="text" name="username" value="{{ user.username }}"
                           id="username" class="form-control">
                </td>
            </tr>
            <tr>
                <th><label for="password" class="form-label">Password:</label></th>
                <td>
                    <input type="password" name="password" value="{{ user.password }}"
                           id="password" class="form-control">
                </td>
            </tr>
            <tr>
                <th><label for="role" class="form-label">Role:</label></th>
                <td>
                    <select name="role" id="role" class="form-control">
                        <option{{ ' selected' if not user.admin else '' }}>USER</option>
                        <option{{ ' selected' if user.admin else '' }}>ADMIN</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">
                        {% if create %}
                            Create
                        {% else %}
                            Save
                        {% endif %}
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}